.menu {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    margin: 2rem;
    border-radius: 1rem;
    flex-wrap: wrap;
}

.menu button {
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 700;
    color: var(--fonte);
}

.menu button:hover {
    color: var(--cor-extra);
}

.menu a {
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 700;
    color: var(--fonte);
}

.menu a:hover {
    color: var(--cor-extra);
}